:root {
    --recent-posts-background: #EDF7FA;
    --text-color:#21243D;
    --text-hover-color: #FF6464;
    --button-red: #FF6464;
    --link-color: #00A8CC;
    --link-hover-color: #7bc8da;
    --inner-elems-width: 65%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, h1, h2, h3, h4, a, span{
    color: var(--text-color);
    text-decoration: none;
}

p{
    font-size: 1.1rem;
}

h1{
    font-size: 3.5rem;
    line-height: 4.5rem;
}

h2{
    font-size: 1.7rem;
    line-height: 2.3rem;
}

h3{
    font-size: 1.5rem;
    font-weight: 400;
}

h4{
    font-size: 1.2rem;
    font-weight: 400;
}

*{
    transition: 0.5s;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 auto; 
    padding: 0;
    font-family: 'Heebo', sans-serif;
    max-width: 1920px;
}

header{
    margin: 0 auto;
    width: 90%;
    padding:3rem 0rem;
}
nav{
    float: right;
}
.nav-link{
    font-weight: 500;
    margin-left: 3rem;
    font-size: 1.7rem;
    transition: 0.3s;
}

.nav-link:hover{
    color: var(--text-hover-color);
}

main{
    margin: 0 auto;
    width:100%;
}

#hero{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: var(--inner-elems-width);    
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#hero-text{
    padding-top: 3rem;
    max-width: 39rem;
}

#hero-desc{
    margin-top:1rem;
}

.button{
    display: inline-block;
    text-align: center;
    background-color: #FF6464;
    font-size: 1.5rem;
    color: white;
    padding: 1rem;
    border-radius: 0.3rem;
    transition-duration: 0.3s;
    margin-top: 3rem;
}

.button:hover{
    background-color: #ff8a8a;
    transform: scale(0.98);
}

#hero-picture{
    margin: 0;
    width: 18rem;
    height: 18rem;
    box-shadow: -0.5rem 1.2rem var(--recent-posts-background);
    border-radius: 50%;
    background: url(/assets/img/imgHigherRez.png);
    background-repeat: no-repeat;
    background-size: contain;
    flex-shrink: 0;
}

#recent-posts{
    background-color: var(--recent-posts-background);
}

#recent-posts-wrapper{
    margin: 0 auto;
    width: var(--inner-elems-width);
}

#recent-posts-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0 1.2rem 0;
}

#recent-posts-header a{
    transition: 0.3s;
    color: var(--link-color);
    font-size: 1.2rem;
    /* TODO: check font size later*/
}

#recent-posts-header a:hover{
    color: var(--link-hover-color);
}

#recent-posts-container{
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.recent-posts-title a {
    transition: 0.3s;
}

.recent-posts-title a:hover{
    color: var(--text-hover-color);
}
.recent-post-preview{
    background-color: white;
    overflow: hidden;
    width:27rem;
    padding: 1rem 1.5rem;
    border-radius: 0.3rem;
    margin-bottom: 2rem;
}

.post-date-theme h4{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.post-date-theme span{
    margin-right: 1rem;
}

#featured-works{
    margin: 0 auto;
    padding: 0rem 0;
    width: var(--inner-elems-width);
}

#featured-works h3{
    margin-bottom: 1rem;
}

.work-preview{
    height: 14.7rem;
    display: flex;
}

.work-preview-picture img{
    width: 20rem;
    height:auto;
}

.work-title a{
    transition: 0.3s;
}

.work-title a:hover{
    color: var(--text-hover-color);
}
.work-preview-content{
    padding-left: 2rem;
}
.work-preview-content h4{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.work-year{
    background-color: var(--text-color);
    color: white;
    font-weight: 700;
    padding: 0 0.7rem;
    border-radius: 1rem;
    margin-right: 1rem;
}

.work-type{
    color: #8a8b94;
}

hr{
    margin: 2rem 0;
    border: 1px solid #e4e3e3;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 4rem auto 2rem auto;
}

#footer-icons img{
    margin: 0 1rem 1rem 1rem;
    transition: 0.3s;
}

#footer-icons img:hover{
    transform: scale(0.9);
}

#footer-copyright{
    font-size: var(--root-font-size);
}


@media (max-width:1400px){
    :root{
        --inner-elems-width: 80%;
    }
}

@media (max-width:1200px){
    :root{
        --inner-elems-width: 95%;
    }
    #hero{
        justify-content: space-evenly;
    }
}
@media (max-width:938px){
    :root{
        --inner-elems-width: 95%;
    }
    header{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    nav a:first-of-type{
        margin-left: 0;
    }

    #hero{
        margin-top: 0rem;
        display:flex;
        overflow: hidden;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    #hero-text{
        text-align: center;
    }
    #recent-posts-container{
        transition: 0.5s;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .recent-post-preview{
        width: 98%;
        max-width: 27rem;
    }
    #featured-works{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .work-preview{
        display: flex;
        flex-direction: column;
        height:auto;
        justify-content: center;
        align-items: center;
        max-width: 22rem;
    }
    #work-preview-picture{
        
        margin-inline-end: 0;
    }
    hr{
        width: 70%;
        min-width: 20rem;
    }
    .work-preview-content{
        padding: 0;
        max-width: 20rem;
    }
}